<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Web Master</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="logo"><img src="logoo.png" alt=""></div>
        <nav>
            <ul>
                <li><a href="inicio.html">Inicio</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="banner">
            <h1>Bem-vindo à Web Master</h1>
            <p>Diversas opções para você escolher o que mais combina com o seu negócio.</p>
        </section>
       <div class="frase">Confira os melhores modelos:</div>
        <section id="produtos" class="produtos">
            <div class="produto">
                <img src="/img/templat1.jpg" alt="Produto 1">
                <h3>Marcenaria e Carpintaria</h3> 
                <button>Visualizar</button> 
            </div>
            <div class="produto">
                <img src="/img/template2.jpg" alt="Produto 2">
                <h3>Educação Infantil</h3>     
                <button>Visualizar</button>
            </div>
            <div class="produto">
                <img src="/img/template3.jpg" alt="Produto 3">
                <h3>Escritório de Engenharia</h3>
                <button>Visualizar</button>
            </div>
            <div class="produto">
                <img src="/img/template4.jpg" alt="Produto 4">
                <h3>Laboratório de Análises Clínicas</h3>
                <button>Visualizar</button>
            </div>
            <div class="produto">
                <img src="/img/template5.jpg" alt="Produto 3">
                <h3>Loja de Sofás e Estofados</h3>
                <button>Visualizar</button>
            </div>
            <div class="produto">
                <img src="/img/template6.jpg" alt="Produto 3">
                <h3>Sorveteria</h3>
                <button>Visualizar</button>
            </div>
            <div class="produto">
                <img src="/img/template7.jpg" alt="Produto 3">
                <h3>Universidade</h3>
                <button>Visualizar</button>
            </div>
            <div class="produto">
                <img src="/img/template8.jpg" alt="Produto 3">
                <h3>Culinária Vegana</h3>
                <button>Visualizar</button>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Nossa Empresa. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
